[run]
branch = True
source = ucarball

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    tests/*
    ucarball/tests/*
    utils/tests/*
    init.py
    setup.py
    command_line.py
    ucarball/controls/*
